<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>3カラム</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- リセットCSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="CSS/style.css">
</head>

<body>
  <div class="wrap">
    <header class="header"><img src="" alt="ロゴ画像"></header>
    <main class="main">
      <aside class="side side1">
        <ul>
          <li><a href="">item1</a></li>
          <li><a href="">item2</a></li>
          <li><a href="">item3</a></li>
          <li><a href="">item4</a></li>
          <li><a href="">item5</a></li>
          <li><a href="">item6</a></li>
          <li><a href="">item7</a></li>
          <li><a href="">item8</a></li>
          <li><a href="">item9</a></li>
          <li><a href="">item10</a></li>
        </ul>
      </aside>
      <div class="main-content">
        <div class="text">
          <ul style="list-style: disc; padding-left: 40px;">
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
          </ul>
        </div>
        <div class="sub1">サブタイトル
          <ol class="subtitle1">
            <li>product1</li>
            <li>product2</li>
            <li>product3</li>
            <li>product4</li>
          </ol>
        </div>
        <div class="sub2">サブタイトル
          <ol class="subtitle2">
            <li>product1</li>
            <li>product2</li>
            <li>product3</li>
            <li>product4</li>
          </ol>
        </div>
      </div>
      <aside class="side side2"><img src="" alt="バナー画像" </aside> </main> <footer class="footer">Copyright(C)2018
        テキストテキストテキストテキストテキストテキスト</footer>
  </div>
</body>

</html>