header, main, footer  {
  margin: 0 auto 0 auto;
  max-width: 960px;
}

.nav li {
  display: inline;
  margin-right: 15px;
}

ul {
  float: right;
  margin-right: 60px;
}

h2 {
  margin-top: 50px;
}

div img {
  max-width: 100%;
}

main div {
display: flex;
flex-wrap: wrap;
}